.App {
  text-align: center;
}

.container{
  margin-top: 20px; 
}
.search{
  padding-top: 40px;
}
h1{
  text-align: center;
}
.pages{
  text-align: center;
}
ul{
  display: flex;
  list-style: none;
  
}
li{
  padding: 5px 15px 0 15px;
  border: 1px solid #ccc;
  cursor: pointer;

}
input[type=text], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn{
 border-radius: 0px; 
}